/* Canada Goose Mod in Goosettings */
*, :root {
    font-family: 'Comic Sans MS', 'Chalkboard', 'Chalkboard SE', sans-serif !important;

}
html{
    background-image:url('/assets/images/BBbackground.png') !important;
    background: url('/assets/images/BBbackground.png') !important;
}
body{
    background-color: #cccccc36;
    background-image:url('/assets/images/BBbackground.png') stretch !important;
    background: url('/assets/images/BBbackground.png') !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;

}
.hello, .welcome, .search-box, .panel{
    background-color: rgb(89, 62, 36) !important;
    box-shadow: 0px 4px 10px black;
    color:white !important;
}
 .tab, .tablinks {
    background-color: rgb(108, 91, 75) !important;
     color:white !important;
     transition:background-color 0.3s ease !important;
}
.format center button {
    color:white !important;
}
.edit-modal, .edit-modal h2, .edit-modal p, .edit-modal span {color:white !important;}
.panel{
    background-color: rgb(89, 62, 36) !important;
    border-radius: none !important;
}
.tablinks.active{
    background-color: rgb(89, 62, 36) !important;
}
.tabcontent{
    border:none;
    border-radius: none;
}
.edit-modal{
    width:fit-content;
    background: rgb(108, 91, 75) !important
}
.modal-disclaimer-fine{
    background: none !important;
}
a {
    color:white;
    text-decoration: none;
    transform:text-decoration 0.3s white;
}
#auth label {
    color:white !important;
}
a:hover{
    text-decoration: underline;
}
#notifbox div {
    background-color: #785c41 !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color:white !important;
}
ul.guidelines-chat li::marker, ul.guidelines-chat li p, ul.guidelines-chat li strong, ul.guidelines-chat li {
    color:white !important;
}
ul.guidelines-chat li p s, ul.guidelines-chat li strong s {
    color:#222 !important;
    transition:color 0.3s ease;
}
ul.guidelines-chat li p s:hover, ul.guidelines-chat li strong s:hover{
    color:#666 !important;

}
.panel label,
.panel p,
.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6,
.panel b,
.panel u,
.panel i,
.panel strong,
.panel em,
.panel mark,
.panel span,
.panel center,
.search-box p,
.search-box h1,
.search-box h2,
.search-box h3,
.search-box h4,
.search-box h5,
.search-box h6,
.search-box b,
.search-box u,
.search-box i,
.search-box strong,
.search-box em,
.search-box mark,
.search-box span,
.search-box center,
.hello p,
.hello h1,
.hello h2,
.hello h3,
.hello h4,
.hello h5,
.hello h6,
.hello b,
.hello u,
.hello i,
.hello strong,
.hello em,
.hello mark,
.hello span,
.hello center,
.welcome p,
.welcome h1,
.welcome h2,
.welcome h3,
.welcome h4,
.welcome h5,
.welcome h6,
.welcome b,
.welcome u,
.welcome i,
.welcome strong,
.welcome em,
.welcome mark,
.welcome span,
.welcome center
{
    color:white;
}
span.goose {
    pointer-events: none;
    color:inherit;
    -webkit-text-stroke: inherit;
    font-weight: inherit;
    cursor:auto !important
}
.hello, .welcome{
    box-shadow: 0px 4px 10px black;
}
nav, nav ul {
    background-color: #222 !important;
}
nav ul li a:hover, nav ul li:hover{
    background-color: rgb(36, 49, 36) !important;
}
footer {
    background-color: #444;
}
img:hover{
    transition:none !important;
    transform: none !important;
    pointer-events: none;
}
.worshipper{
    background-image: url('/assets/images/goosecanada.png') !important;
    content: url('/assets/images/goosecanada.png') !important;
    width:200px;
}
.gooset-container{
    background-color: rgb(89, 62, 36);
}
.gooset-container h1 {
    background-color: rgb(89, 62, 36);
}
.gooset-container .gooset .settings input[type='checkbox'] {
    accent-color:rgb(26, 79, 26);
}
.gooset-container .gooset ul li:hover, .gooset-container .gooset ul li a:hover{
    background-color: rgb(65, 52, 42);
}
button {
    transform: none !important;
    transition: none !important;
}
