body{
  cursor: url("/assets/cursors/cursor.png"), default !important
}
button, a, #goose, .goose, #image{
  cursor: url("/assets/cursors/pointer.png"), pointer !important
}
body {
  background-image: url('/assets/images/background.png') !important;
}
main{
    margin-top:120px;
    
}
nav {
    margin-bottom: 50px;
    position:fixed;
    top:0;
    width:100%;
    max-width:100%;
}