.grandpa{
    list-style-type: none;
    margin:0; 
    padding:0;
    overflow:hidden;
    background-color:darkorange;
    width:100%;
    display:flex;
    flex-direction: row;
    position: absolute;
}
.grandpa, .dad{
    float:left;
}
.grandpa, .dad, .son{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    display: inline-block;
}
.son{
    padding: 13px;
}
.son:hover{
    background-color:orangered;
}
.logo{
    font-weight: bolder;
    text-decoration: 1px wavy underline;
}
nav{
    margin-bottom:50px;
}
