body:has(.gooset-container) main {
    filter: blur(2px);
    position: relative;
    z-index: -9999;
    margin-top: 0px !important;
}

body:has(.gooset-container) nav {
    position: static !important;
}

input {
    height: auto;
}

.gooset-container {
    background-color: darkorange;
    box-shadow: 0 0 20px 5px rgba(51, 51, 51, 0.5), 0 0 40px 10px rgba(52, 52, 52, 0.7);
    color: white !important;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Chalkboard', sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    user-select: none;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    margin: 10px !important;
    width: 560px;
    height: 350px;
    display: flex !important;
    flex-direction: column !important;
    overflow: hidden !important;
    cursor: url('/assets/cursors/cursor.png'), default;
}

.gooset-container h1 {
    position: sticky !important;
    top: 0;
    z-index: 10;
    background-color: darkorange;
    margin: 0;
    padding-bottom: 8.5px !important;
    border-bottom: 2px solid white;
    width: 100%;
    flex-shrink: 0;
}

.gooset-container div {
    display: flex !important;
    flex-direction: row !important;
    flex-grow: 1;
    min-height: 0;
}

.gooset-container .settings {
    display: flex !important;
    flex-direction: column !important;
    padding-left: 16px;
    color: white !important;
    margin: 15px !important;
    flex-grow: 1;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.gooset-container .settings::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
}

.gooset-container h1 .textex {
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 11;
    background-color: transparent;
    border: none;
    color: white !important;
    font-family: 'Comic Sans MS', 'Chalkboard', 'Chalkboard SE', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.gooset-container input[type="checkbox"],
.gooset-container select,
.gooset-container ul li,
.gooset-container ul li a {
    cursor: url('/assets/cursors/pointer.png'), pointer;
}

.gooset-container ul li a {
    text-shadow: 0px 0px 0px currentColor;
    transition: text-shadow 0.7s ease-in-out;
}

.gooset-container ul li a:active {
    text-shadow: 1px 0 0 currentColor !important;
}

.click-tigre:hover {
    text-decoration: underline;
}

.gooset-container h1,
.gooset-container h2,
.gooset-container h3,
.gooset-container h4,
.gooset-container h5,
.gooset-container h6,
.gooset-container p,
.gooset-container i,
.gooset-container strong,
.gooset-container em,
.gooset-container u,
.gooset-container mark {
    color: white !important;
    padding: 0;
    margin: 0;
}

.gooset-container h4 {
    top: 0;
    left: 0;
    position: relative;
}

.gooset-container h4 span {
    font-size: 15px;
}

.gooset-container h4 .textex:hover {
    text-decoration: underline;
    cursor: pointer;
}

.gooset-container ul {
    list-style-type: none;
    padding: 0;
    margin: 7px;
}

.gooset-container ul li {
    width: 101%;
    font-size: 25px;
    transition: background-color 0.3s ease-in-out;
}

.gooset-container ul li span {
    padding-left: 5px;
    cursor: pointer;
}

.gooset-container ul li:hover {
    background-color: orangered;
    cursor: pointer;
}

.gooset-container .settings p {
    font-size: 16px !important;
    margin-right: 5px;
}

.gooset-container .settings strong,
.gooset-container .settings b {
    font-size: 18px !important;
}

.gooset-container .settings h2 {
    font-size: 22px !important;
}

.gooset-container .settings span {
    font-size: 12px !important;
}

.textex {
    position: sticky !important;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: white !important;
    font-family: 'Comic Sans MS', 'Chalkboard', 'Chalkboard SE', sans-serif;
}

.textex:hover {
    text-decoration: underline !important;
}

footer center ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.gooset select {
    background-color: #ffff;
    border:none;
}
.link-bottom-ul {
    list-style-type: none;
    user-select: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.link-bottom-ul li a {
    text-decoration: none;
    color: white !important;
    margin: 5px;
}

.link-bottom-ul li a:hover {
    text-decoration: underline;
}
