main > :not(.gooset) {
    filter: blur(2.2px);
    opacity: 0.5;
}
input {
    height: auto;
}
.gooset {
    background-color: darkorange;
    box-shadow: 0 0 20px 5px rgb(173, 126, 32), 0 0 40px 10px rgba(254, 137, 4, 0.5);
    color: white !important;
    font-family: 'Comic Sans MS', sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    user-select: none;
    position: fixed;
    top:50%;
    left:50%;
    translate: -50% -50%;
    margin:10px !important;
    width: 560px;
    height: 300px;
    display: flex !important;
    flex-direction: column;
}
.click-tigre:hover{
    text-decoration: underline;
}
.gooset div .settings p{
    font-size:20px;
}
.gooset div .settings strong, b {
    font-size:22px;
}
footer ul {
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.gooset div .settings h2 {
    font-size:26px;
}
.gooset h4 .textex:hover {
    text-decoration: underline;
    cursor: pointer;
}
.gooset h1, h2, h3, h4, h5, h6, p, i, strong, em, u, mark {
    color:white !important;
    padding: 0;
    margin: 0;
}
.gooset h4 {
    top: 0;
    left: 0;
    position: relative;
}
.gooset h4 span {
    font-size: 15px;
}
.gooset ul {
    list-style-type: none;
    padding: 0;
    margin:7px
}
.gooset ul li {
    width: 101%;
    font-size:25px;
}
.gooset ul li span {
    padding-left: 5px;
    cursor: pointer;
}
.gooset ul li:hover {
    background-color: orangered;
    cursor: pointer;
}
.gooset div {
    display: flex;
    flex-direction: row;
}
.gooset div .settings {
    font-size: 20px !important;
    display: flex;
    flex-direction: column !important;
    padding-left: 16px;
    color: white !important;
    margin:15px !important;
}
.textex {
    position: absolute;
    top: 0;
    right: 0;
    background-color: none;
    border:none;
    color:white !important;
    font-family: 'Comic Sans MS', sans-serif;


}

.textex:hover{
    text-decoration: underline !important;
}
.settings {
    display: flex;
    flex-direction: column;
}
.gooset div .settings span {
    font-size: 12px;
}
