.login-ul {
  list-style-type:none;
  display:flex;
  padding:0;
  margin:0;
  justify-content:center !important;
  flex-direction:row;
  text-align:center;
}
.login-div{
  justify-content:center !important; 
  text-align:center;
  align-items:center !important;
  margin:0;
  padding:0;
}
.login-a {
  color:white !important;
  font-size:20px;
  text-decoration:none;
}
.login-a:hover{
    text-decoration:1.2px underline white;
}
.login-li{
  margin:15px;
}
nav p{
  color:white !important
}
