/* This is the CSS file for index.html */
body{
    /* RESET ALL MARGINS! */
    margin:0; 
    padding:0;
    /* Background colors ? */
    background-color: rgb(243, 198, 182);
    /* Text styles */
    font-family: comic sans ms;
    color:white;
    /* Flexbox */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Takes full viewport height */
    margin: 0;
    /* Etc Etc Stick */
}
/* NO MORE SCROLLBARS!!! */
body::-webkit-scrollbar {
  display: none;
}
body {
  scrollbar-width: none;
}
/* SELECTION */
body::selection{
    background-color: yellow;
}
main{
    display:flex;
    justify-content: center;
}
/* Everything else */
h1, p, h2, h3, h4, h5{
    padding:5px;
    margin:0;
    text-align:center;
    color:black;
}
p{
    font-size:21px; /* Makes text easier to read */
}
smalltext{
    font-size:10px;
    padding:0;
    margin:0;
    text-align:center;
}
/* Extra Scripts */
.hello{
    border-radius:12px;
    color:black;
    background-color: gainsboro;
    margin:20px;
    padding:10px;
    display:inline-block;
}
.heading{
    text-align: center;
}
.goose{
    color:darkorange;
    -webkit-text-stroke:0.5px black;
    font-weight: bolder;
}
.text-region{
    margin: 0 auto;
}
.text-region p {
    text-align:left !important;
}
#image{
    text-align:center;
    border-radius:20px;
}
#repent{
    background-color:lightcoral;
    border:none;
    border-radius: 10px;
    padding:7px;
    cursor:pointer;
    text-align: center;
    font-family: 'Comic Sans MS';
    font-weight: bolder;
    transition: transform 0.3s ease;
    font-size:21px;
}
#repent:hover{
    background-color: rgb(249, 27, 27);
    transform: scale(1.1);
    color:white;
    -webkit-text-stroke:0 !important;
}
.format{
    max-width:45vh;
    display:block;
}
.slidevideo{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
