.search-engine-input {
    width: 80%;
    padding: 9px;
    font-size: 18px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-family:'Comic Sans MS';
    border-radius: 20px;
    border: 1.2px solid black;
}
.search-box{
    background-color:gainsboro;
    border:0;
    border-radius:5px;
    padding:10px;
    width:80% !important;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.search-results {
    list-style: none;
    padding: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display:none;

}
.result-item {
    align-self: center;
    margin-bottom: 15px;
    padding:10px;
    color:white;
    border:none;
    border-radius:6px;
    background-color: darkorange;
    width:750px
}
.titleh1{
    text-align:center;
    color:darkorange;
    -webkit-text-stroke:1px black;
    font-size:47px;
}
.result-item a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color:white;
}
.result-item a:hover {
    text-decoration: underline;
}
.result-item p {
    font-size: 15px;
    color:white !important;
    text-align:left !important
}
.no-results {
    color: #888;
    font-style: italic;
}
