.bible{
  background-image:url('../assets/images/scroll-src.jpg') !important;
  font-family:'Times New Roman' !important;
  color:#333 !important;
  background-color:#a4701e; /* Not really needed, just in case bg doesn't load */
  border:0px solid transparent !important;
  border-radius:0px !important;
  text-align:left !important;
  margin:20px !important;
}
.main{
  padding: 20px !important;
}
