.parent{
  display:flex;
  justify-content:center;
  flex-direction:row;
  flex-wrap: wrap;
}
iframe {
  margin:10px;display:inline-block
}
#secret{
  padding:8px;
  cursor:pointer;
}
#secret:hover{
  background-color:slateblue;
}
