
.fish{
  border-radius:10px;
  width:500px;
  height:500px;
  vertical-align: top;
  display: inline-block;
}
main{
  display:flex !important;
  flex-direction:column !important;
  justify-content:center !important;
}
.welcome{
  display:flex !important;
  flex-direction:column !important;
  justify-content:center !important;
  text-align:center !important;
  
}
